body {
  margin: 0;
}

.header {
  width: 100%;
  font-size: 4rem;
  background-color: black;
  color: white;
  text-align: center;
}

.footer {
  width: 100%;
  margin-bottom: 0;
  background-color: black;
  color: white;
  text-align: center;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn {
  margin: 1.25em;
  font-size: 1rem;
  padding: 0.5em 1em;
  background-color: black;
  color: white;
  outline: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0.2em;
}

.notifications {
  margin: 2em;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.possible {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: coral;
}

.board {
  display: grid;
  margin-bottom: 2em;
  background-color: white;
  border: 1px solid black;
  grid-template-rows: repeat(8, 5em);
  grid-template-columns: repeat(8, 5em);
}

.white-piece,
.white-king {
  width: 4.5em;
  height: 4.5em;
  border-radius: 50%;
  background-color: white;
}

.white-king {
}

.black-piece,
.black-king {
  width: 4.5em;
  height: 4.5em;
  border-radius: 50%;
  background-color: black;
  border: solid 2px white;
}

.black-king {
}

.field-black,
.field-white {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.field-black {
  background: black;
}

.field-white {
  background: white;
}
